<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>ASK MCQ | ASK QUESTION</title>
	<!-- css -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/menu.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/editor.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />
</head>
<body>
	<!-- header -->
	<header class="site-header">
		<div class="container">
			<div class="desktop">
				<div class="row">
					<div class="col-sm-2">
						<div class="logo">
							<a href="index.html"><img src="images/logo/site-logo.png" alt="Logo" /></a>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="header-left me">
							<ul id="menu-left">
								<li class="parent">
									<a href="#">Explore <span class="fa fa-angle-down"></span></a>
									<ul class="sub-menu">
										<li><a href="#">links</a></li>
										<li><a href="#"><i class="icon-credit-card"></i>  links</a></li>
										<li><a href="#"><i class="icon-gift"></i> links</a></li>
										<li><a class="parent" href="#"><i class="icon-file-alt"></i> links</a>
											<ul class="sub-menu">
												<li><a href="#">links</a></li>
												<li><a href="#">links</a></li>
												<li><a href="#">links</a></li>
												<li><a href="#">links</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="header-search me">
							<form action="" method="">
								<div class="input-group">
	  								<div class="input-group-prepend">
	    								<span class="input-group-text" id="header-search"><img src="images/icon/icon-search.png" alt=""></span>
	  								</div>
	  								<input type="text" class="form-control" placeholder="Search Courses, Topices & Educators" name="" aria-describedby="header-search">
								</div>
	  						</form>
						</div>
					</div>
					<div class="col-sm-3">				
	    				<div class="header-user text-right me">
	    					<a href="#" class="btn btn-theme-border pill" data-toggle="modal" data-target="#login">Login</a>
	  						<a href="#" class="btn btn-theme-border pill" data-toggle="modal" data-target="#signup">Sign up</a>
	    				</div>
					</div>
				</div>
			</div>
			<div class="mobile">
				<div class="row">
					<div class="col">
						<div class="logo">
							<a href="index.html"><img src="images/logo/site-logo.png" alt="Logo" /></a>
						</div>
					</div>
					<div class="col-7">				
	    				<div class="header-user text-right me">
	    					<a href="#" class="btn btn-theme-border pill" data-toggle="modal" data-target="#login">Login</a>
	  						<a href="#" class="btn btn-theme-border pill" data-toggle="modal" data-target="#signup">Sign up</a>
	    				</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="header-search me">
							<form action="" method="">
								<div class="input-group">
	  								<div class="input-group-prepend">
	    								<span class="input-group-text" id="header-search"><img src="images/icon/icon-search.png" alt=""></span>
	  								</div>
	  								<input type="text" class="form-control" placeholder="Search Courses, Topices & Educators" name="" aria-describedby="header-search">
								</div>
	  						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header><!-- / header -->
	<!-- Main Wrapper -->
	<div class="wrapper no-padding">
		<!-- Banner -->
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-6 col-sm-3">
						<div class="items">
							<div class="title">Have a question?</div>
							<a href="#" class="btn btn-theme lg block carve-left">ASKMCQ <img class="btn-icon" src="images/icon/icon1.png" alt="" /></a>
						</div>
					</div>
					<div class="col-6 col-sm-3">
						<div class="items">
							<div class="title">Have an answer?</div>
							<a href="#" class="btn btn-theme gray lg block carve-right">ASKMCQ <img class="btn-icon" src="images/icon/icon2.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-3"></div>
				</div>
			</div>
		</div><!-- / Banner -->
		<!-- Services -->
		<div class="question-services">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="highlight-title">
							<nav aria-label="breadcrumb">
								<div class="row">
									<div class="col-sm-8">
										<div class="title">Choose Categories</div>
									</div>
									<div class="col-sm-4">
									  	<ol class="breadcrumb">
									    	<li class="breadcrumb-item"><a href="#">Home</a></li>
									    	<li class="breadcrumb-item active" aria-current="page">Library</li>
									  	</ol>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div class="services home">
					<div class="row">
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#" data-toggle="modal" data-target="#question-1">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
						<div class="col-6 col-sm-2">
							<div class="items">
								<div class="icon">
									<img class="default-img" src="images/icon/service2.png" alt="">
									<img class="hover-img" src="images/icon/service1.png" alt="">
								</div>
								<h4><a href="#">Apptitude</a></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Services -->
		<!-- Question Submition -->
		<div class="question-submit">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div id="tab-container" class="tab-container">
							<!-- <div class="question-header"> -->
								<ul class="etabs">
						    		<!-- <li class="tab"><a href="#ask-question" class="btn lg">Ask Question<br><span>I don't know Answer</span><img src="images/icon/icon1.png" alt=""></a></li> -->
						    		<li class="tab"><a href="#single-question" class="btn lg gray">Single Question<br><!-- <span>I know Answer</span> --><img src="images/icon/info.png" alt=""></a></li>
						    		<li class="tab"><a href="#multi-question" class="btn lg gray">Multi Question<br><!-- <span>I know Answer</span> --><img src="images/icon/collaboration.png" alt=""></a></li>
								</ul>
							<div id="single-question">
								<form action="" method="">
									<div class="highlight-title no-margin">
										<div class="title">Direction to Solve</div>
									</div>
									<textarea id="question-two"></textarea>
									<br>
									<div class="highlight-title no-margin">
										<div class="title">Your Question</div>
									</div>
									<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
									<br>
									<div class="highlight-title no-margin">
										<div class="title">Options</div>
									</div>
									<div class="questions no-padding">
										<div class="single-question">
											<ul>
												<li>
													<input type="radio" id="option-aa" name="selector" value="a">
													<label for="option-aa">A</label>
													<span>Charles Wright Mills</span>
													<small><span class="fa fa-check-circle-o"></span> Currect Answer</small>
													<div class="check"></div>
												</li>
												<li>
													<input type="radio" id="option-bb" name="selector" value="b">
													<label for="option-bb">B</label>
													<span>Charles Wright Mills</span>
													<small><span class="fa fa-check-circle-o"></span> Currect Answer</small>
													<div class="check"></div>
												</li>
											</ul>
											<ul>
												<li>
													<input type="radio" id="option-cc" name="selector" value="c">
													<label for="option-cc">C</label>
													<span>Charles Wright Mills</span>
													<small><span class="fa fa-check-circle-o"></span> Currect Answer</small>
													<div class="check"></div>
												</li>
												<li>
													<input type="radio" id="option-dd" name="selector" value="d">
													<label for="option-dd">D</label>
													<span>Charles Wright Mills</span>
													<small><span class="fa fa-check-circle-o"></span> Currect Answer</small>
													<div class="check"></div>
												</li>
											</ul>
										</div>
										<div class="answer">
											<div class="row">
												<div class="col-sm-9">
													<p>Answer: 
														<span class="currect-answer"></span>
													</p>
												</div>
												<div class="col-sm-3">
													<p class="text-right"><a href="#">Add More Options</a></p>
												</div>
											</div>
										</div>
										<div class="highlight-title white no-margin">
											<div class="title">Explanation</div>
										</div>
										<textarea id="explanation-one"></textarea>
									</div>
									<div class="editor-button">
										<button type="button" class="btn btn-theme gray carve-left">Save</button>
										<button type="submit" class="btn btn-theme carve-right">Submit</button>
									</div>
								</form>
							</div>
							<div id="multi-question">
								<form action="" method="">
									<div class="highlight-title no-margin">
										<div class="title">Title</div>
									</div>
									<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Title"></textarea>
									<div class="highlight-title no-margin">
										<div class="title">Direction to Solve</div>
									</div>
									<textarea id="question-three"></textarea>
									<br>
									<div class="highlight-title no-margin">
										<div class="title">Your Question</div>
									</div>
									<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Question"></textarea>
									<div class="highlight-title no-margin">
										<div class="title">Options</div>
									</div>
									<div class="questions no-padding">
										<div class="single-question">
											<ul>
												<li>
													<input type="radio" id="option-aa" name="selector" value="a">
													<label for="option-aa">A</label>
													<span>Charles Wright Mills</span>
													<small><span class="fa fa-check-circle-o"></span> Currect Answer</small>
													<div class="check"></div>
												</li>
												<li>
													<input type="radio" id="option-bb" name="selector" value="b">
													<label for="option-bb">B</label>
													<span>Charles Wright Mills</span>
													<small><span class="fa fa-check-circle-o"></span> Currect Answer</small>
													<div class="check"></div>
												</li>
											</ul>
											<ul>
												<li>
													<input type="radio" id="option-cc" name="selector" value="c">
													<label for="option-cc">C</label>
													<span>Charles Wright Mills</span>
													<small><span class="fa fa-check-circle-o"></span> Currect Answer</small>
													<div class="check"></div>
												</li>
												<li>
													<input type="radio" id="option-dd" name="selector" value="d">
													<label for="option-dd">D</label>
													<span>Charles Wright Mills</span>
													<small><span class="fa fa-check-circle-o"></span> Currect Answer</small>
													<div class="check"></div>
												</li>
											</ul>
										</div>
										<div class="answer">
											<div class="row">
												<div class="col-sm-9">
													<p>Answer: 
														<span class="currect-answer"></span>
													</p>
												</div>
												<div class="col-sm-3">
													<p class="text-right"><a href="#">Add More Options</a></p>
												</div>
											</div>
										</div>
										<div class="highlight-title white no-margin">
											<div class="title">Explanation</div>
										</div>
										<textarea id="explanation-two"></textarea>
									</div>
									<div class="editor-button">
										<button type="button" class="btn btn-theme gray carve-left">Save</button>
										<button type="submit" class="btn btn-theme carve-right">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- / Question Submition -->
	</div><!-- Main Wrapper -->
	<!-- footer -->
	<footer class="site-footer">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="widget">
							<a href="index.html"><img src="images/logo/site-logo.png" alt="Footer Logo" /></a>
						</div>
						<div class="widget">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at sodales ante, non luctus ligula. Phaseplus dignissim consectetur eros, hendrerit consectetur ligula aliquet mollis. Quisque ipsum leo, posuere eu efficitur et, scelerisque id sapien. Aenean ut est eu dui ultrices scelerisque. Duis consectetur id felis sit amet sollicitudin.</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h3 class="widget-title">Important link</h3>
							<ul class="footer-links">
								<li><a href="index.html">Home</a></li>
								<li><a href="#">Latest Question</a></li>
								<li><a href="#">Latest Answer</a></li>
								<li><a href="#">Explore</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h3 class="widget-title">Follow US</h3>
							<ul class="footer-social">
								<li><a href="#"><span class="fa fa-skype"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
								<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							</ul>
						</div>
						<div class="widget">
							<h3 class="widget-title">Subscribe Newsletter</h3>
							<div class="subscribe">
								<form action="" method="">
								<div class="input-group">
	  								<input type="text" class="form-control" placeholder="Subscribe" name="" aria-describedby="footer-subscribe">
									<div class="input-group-prepend">
	    								<span class="input-group-text" id="footer-subscribe"><button type="submit" class="btn sub-addon"><span class="fa fa-long-arrow-right"></span></button></span>
	  								</div>
								</div>
	  						</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="copyright-text">
					<p>Copyright 2018 &copy; <strong><a href="index.html">ASKMCQ</a></strong> - All rights reserved</p>
				</div>
			</div>
		</div>
	</footer><!-- / footer -->
	<!-- Login Modal -->
	<div class="modal fade login-signup" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h4 class="modal-title">Welcome to <img src="images/logo/modal.png" alt=""></h4>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			</div>
      			<div class="modal-body">
        			<h6>Ask any Multiple choice question</h6>
        			<div class="text-center">
        				<div class="row">
        					<div class="col-6">
        						<a href="#"><img src="images/icon/google.png" alt=""></a>
        					</div>
        					<div class="col-6">
        						<a href="#"><img src="images/icon/facebook.png" alt=""></a>
        					</div>
        				</div>
        			</div>
        			<form action="" method="">
        				<p><input type="email" class="form-control" name="" placeholder="Email" /></p>
        				<p><input type="password" class="form-control" name="" placeholder="Password" /></p>
        				<p><a href="#" class="btn btn-theme md block radius">Login &nbsp;&nbsp;&nbsp; <span class="fa fa-long-arrow-right"></span></a></p>
        			</form>
        			<div class="others-option">
        				<div class="row">
	        				<div class="col-8 col-sm-6">
	        					<p><a href="#">Forgot the password ?</a></p>
	        				</div>
	        				<div class="col-4 col-sm-6">
	        					<p class="text-right"><a href="#"><strong>Create account</strong></a></p>
	        				</div>
	        			</div><br>
	        			<p class="text-center">By signing up,you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
        			</div>
      			</div>
    		</div>
  		</div>
	</div>
	<!-- Signup -->
	<div class="modal fade login-signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h4 class="modal-title">Welcome to <img src="images/logo/modal.png" alt=""></h4>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			</div>
      			<div class="modal-body">
        			<h6>Ask any Multiple choice question</h6>
        			<div class="text-center">
        				<div class="row">
        					<div class="col-6">
        						<a href="#"><img src="images/icon/google.png" alt=""></a>
        					</div>
        					<div class="col-6">
        						<a href="#"><img src="images/icon/facebook.png" alt=""></a>
        					</div>
        				</div>
        			</div>
        			<form action="" method="">
        				<p><input type="text" class="form-control" name="" placeholder="Full Name" /></p>
        				<p><input type="email" class="form-control" name="" placeholder="Email" /></p>
        				<p><input type="password" class="form-control" name="" placeholder="Password" /></p>
        				<p><a href="#" class="btn btn-theme md block radius">Create Account &nbsp;&nbsp;&nbsp; <span class="fa fa-long-arrow-right"></span></a></p>
        			</form>
        			<div class="others-option">
        				<div class="row">
	        				<div class="col-9 col-sm-6">
	        					<p><a href="#">Already have an account ?</a></p>
	        				</div>
	        				<div class="col-3 col-sm-6">
	        					<p class="text-right"><a href="#"><strong>Login</strong></a></p>
	        				</div>
	        			</div><br>
	        			<p class="text-center">By signing up,you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
        			</div>
      			</div>
    		</div>
  		</div>
	</div>
	<div class="modal fade" id="question-1">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="accordion" id="subcategoryList">
					  	<div class="card">
					    	<div class="card-header" id="headingOne">
					      		<h5 class="mb-0">
					        		<button class="btn cat-block" type="button" data-toggle="collapse" data-target="#sub1" aria-expanded="true" aria-controls="sub1">
					          			Sub Category - 01
					        		</button>
					      		</h5>
					    	</div>
					    	<div id="sub1" class="collapse" aria-labelledby="headingOne" data-parent="#subcategoryList">
					      		<div class="card-body">
					        		<div class="row">
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        		</div>
					      		</div>
					    	</div>
					  	</div>
					  	<div class="card">
					    	<div class="card-header" id="headingOne">
					      		<h5 class="mb-0">
					        		<button class="btn cat-block" type="button" data-toggle="collapse" data-target="#sub2" aria-expanded="true" aria-controls="sub2">
					          			Sub Category - 02
					        		</button>
					      		</h5>
					    	</div>
					    	<div id="sub2" class="collapse" aria-labelledby="headingOne" data-parent="#subcategoryList">
					      		<div class="card-body">
					        		<div class="row">
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        		</div>
					      		</div>
					    	</div>
					  	</div>
					  	<div class="card">
					    	<div class="card-header" id="headingOne">
					      		<h5 class="mb-0">
					        		<button class="btn cat-block" type="button" data-toggle="collapse" data-target="#sub3" aria-expanded="true" aria-controls="sub3">
					          			Sub Category - 03
					        		</button>
					      		</h5>
					    	</div>
					    	<div id="sub3" class="collapse" aria-labelledby="headingOne" data-parent="#subcategoryList">
					      		<div class="card-body">
					        		<div class="row">
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        		</div>
					      		</div>
					    	</div>
					  	</div>
					  	<div class="card">
					    	<div class="card-header" id="headingOne">
					      		<h5 class="mb-0">
					        		<button class="btn cat-block" type="button" data-toggle="collapse" data-target="#sub4" aria-expanded="true" aria-controls="sub4">
					          			Sub Category - 04
					        		</button>
					      		</h5>
					    	</div>
					    	<div id="sub4" class="collapse" aria-labelledby="headingOne" data-parent="#subcategoryList">
					      		<div class="card-body">
					        		<div class="row">
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        			<div class="col-sm-4">
					        				<form action="" method=""> 
					        					<p> 
					        						<input type="radio" id="sub12-one-1" name="sub-select" /> 
					        						<label for="sub12-one-1">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-2" name="sub-select" /> 
					        						<label for="sub12-one-2">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-3" name="sub-select" /> 
					        						<label for="sub12-one-3">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-4" name="sub-select" /> 
					        						<label for="sub12-one-4">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-5" name="sub-select" /> 
					        						<label for="sub12-one-5">Lorem ipsum</label> 
					        					</p> 
					        					<p> 
					        						<input type="radio" id="sub12-one-6" name="sub-select" /> 
					        						<label for="sub12-one-6">Lorem ipsum</label> 
					        					</p> 
					        				</form>
					        			</div>
					        		</div>
					      		</div>
					    	</div>
					  	</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- jQuery -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/jquery.hashchange.min.js"></script>
	<script src="js/jquery.easytabs.js"></script>
	<script src="js/navScript.js"></script>
	<script src="js/editor.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
	<script>
		$(function() {
    		$('input[name="selector"]').on('click', function() {
    			$('.currect-answer').html('Option ('+ $(this).val() +') <span>Currect Answer</span>');
    		})
		})
	</script>
</body>
</html>