<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>ASK MCQ | FOLLOWING</title>
	<!-- css -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/menu.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />
</head>
<body>
	<!-- header -->
	<header class="site-header">
		<div class="container">
			<div class="desktop">
				<div class="row">
					<div class="col-sm-2">
						<div class="logo">
							<a href="index.html"><img src="images/logo/site-logo.png" alt="Logo" /></a>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="header-left me">
							<ul id="menu-left">
								<li class="parent">
									<a href="#">Explore <span class="fa fa-angle-down"></span></a>
									<ul class="sub-menu">
										<li><a href="#">links</a></li>
										<li><a href="#"><i class="icon-credit-card"></i>  links</a></li>
										<li><a href="#"><i class="icon-gift"></i> links</a></li>
										<li><a class="parent" href="#"><i class="icon-file-alt"></i> links</a>
											<ul class="sub-menu">
												<li><a href="#">links</a></li>
												<li><a href="#">links</a></li>
												<li><a href="#">links</a></li>
												<li><a href="#">links</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-sm-5">
						<div class="header-search me">
							<form action="" method="">
								<div class="input-group">
	  								<div class="input-group-prepend">
	    								<span class="input-group-text" id="header-search"><img src="images/icon/icon-search.png" alt=""></span>
	  								</div>
	  								<input type="text" class="form-control" placeholder="Search Courses, Topices & Educators" name="" aria-describedby="header-search">
								</div>
	  						</form>
						</div>
					</div>

					<div class="col-sm-3">				
	    				<div class="header-user text-right me">
	    					<a href="#" class="btn btn-theme-border pill" data-toggle="modal" data-target="#login">Login</a>
	  						<a href="#" class="btn btn-theme-border pill" data-toggle="modal" data-target="#signup">Sign up</a>
	    				</div>
					</div>
				</div>
			</div>
			<div class="mobile">
				<div class="row">
					<div class="col">
						<div class="logo">
							<a href="index.html"><img src="images/logo/site-logo.png" alt="Logo" /></a>
						</div>
					</div>
					<div class="col-7">				
	    				<div class="header-user text-right me">
	    					<a href="#" class="btn btn-theme-border pill" data-toggle="modal" data-target="#login">Login</a>
	  						<a href="#" class="btn btn-theme-border pill" data-toggle="modal" data-target="#signup">Sign up</a>
	    				</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="header-search me">
							<form action="" method="">
								<div class="input-group">
	  								<div class="input-group-prepend">
	    								<span class="input-group-text" id="header-search"><img src="images/icon/icon-search.png" alt=""></span>
	  								</div>
	  								<input type="text" class="form-control" placeholder="Search Courses, Topices & Educators" name="" aria-describedby="header-search">
								</div>
	  						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header><!-- / header -->

	<!-- Main Wrapper -->
	<div class="wrapper no-padding">
		<!-- Profile -->
		<div class="single-profile">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="profile-image">
							<img src="images/profile-img.png" alt="" />
						</div>
					</div>
					<div class="col-sm-9">
						<div class="profile-info">
							<div class="name">Rajesh Lamba <span class="verify"><span class="fa fa-check-circle-o"></span> VERIFIED</span></div>
							<div class="bio">Master Degree from KUK. Having 6 years Experience in Competition exams.</div>
							<div class="view">
								<p><span class="fa fa-calendar"></span> 100,548 Views in last 30 days</p>
								<p><span class="fa fa-line-chart"></span> 104,692 Lifetime Views</p>
							</div>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
							<div class="option">
								<ul>
									<li><a href="#">18 Saved MCQ</a></li>
									<li><a href="#">18 Question</a></li>
									<li><a href="#">6 Answer</a></li>
									<li class="active"><a href="#">2 Following</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- / Profile -->
		<!-- Following -->
		<div class="following-list">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="items">
							<img src="images/profile-img.png" alt="">
							<p>Master Degree from KUK. Having 6 years Experience...</p>
							<div class="follow">
								<a href="#" class="btn btn-theme pill">FOLLOW</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- / Following -->
	</div><!-- Main Wrapper -->

	<!-- footer -->
	<footer class="site-footer">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="widget">
							<a href="index.html"><img src="images/logo/site-logo.png" alt="Footer Logo" /></a>
						</div>
						<div class="widget">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at sodales ante, non luctus ligula. Phaseplus dignissim consectetur eros, hendrerit consectetur ligula aliquet mollis. Quisque ipsum leo, posuere eu efficitur et, scelerisque id sapien. Aenean ut est eu dui ultrices scelerisque. Duis consectetur id felis sit amet sollicitudin.</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h3 class="widget-title">Important link</h3>
						
							<ul class="footer-links">
								<li><a href="index.html">Home</a></li>
								<li><a href="#">Latest Question</a></li>
								<li><a href="#">Latest Answer</a></li>
								<li><a href="#">Explore</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h3 class="widget-title">Follow US</h3>
						
							<ul class="footer-social">
								<li><a href="#"><span class="fa fa-skype"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
								<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
							</ul>
						</div>
						<div class="widget">
							<h3 class="widget-title">Subscribe Newsletter</h3>

							<div class="subscribe">
								<form action="" method="">
								<div class="input-group">
	  								<input type="text" class="form-control" placeholder="Subscribe" name="" aria-describedby="footer-subscribe">
									<div class="input-group-prepend">
	    								<span class="input-group-text" id="footer-subscribe"><button type="submit" class="btn sub-addon"><span class="fa fa-long-arrow-right"></span></button></span>
	  								</div>
								</div>
	  						</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="copyright-text">
					<p>Copyright 2018 &copy; <strong><a href="index.html">ASKMCQ</a></strong> - All rights reserved</p>
				</div>
			</div>
		</div>
	</footer><!-- / footer -->

	<!-- Login Modal -->
	<div class="modal fade login-signup" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h4 class="modal-title">Welcome to <img src="images/logo/modal.png" alt=""></h4>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			</div>
      			<div class="modal-body">
        			<h6>Ask any Multiple choice question</h6>
        			<div class="text-center">
        				<div class="row">
        					<div class="col-6">
        						<a href="#"><img src="images/icon/google.png" alt=""></a>
        					</div>
        					<div class="col-6">
        						<a href="#"><img src="images/icon/facebook.png" alt=""></a>
        					</div>
        				</div>
        			</div>
        			<form action="" method="">
        				<p><input type="email" class="form-control" name="" placeholder="Email" /></p>
        				<p><input type="password" class="form-control" name="" placeholder="Password" /></p>
        				<p><a href="#" class="btn btn-theme md block radius">Login &nbsp;&nbsp;&nbsp; <span class="fa fa-long-arrow-right"></span></a></p>
        			</form>

        			<div class="others-option">
        				<div class="row">
	        				<div class="col-8 col-sm-6">
	        					<p><a href="#">Forgot the password ?</a></p>
	        				</div>
	        				<div class="col-4 col-sm-6">
	        					<p class="text-right"><a href="#"><strong>Create account</strong></a></p>
	        				</div>
	        			</div><br>

	        			<p class="text-center">By signing up,you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
        			</div>
      			</div>
    		</div>
  		</div>
	</div>
	<!-- Signup -->
	<div class="modal fade login-signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h4 class="modal-title">Welcome to <img src="images/logo/modal.png" alt=""></h4>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			</div>
      			<div class="modal-body">
        			<h6>Ask any Multiple choice question</h6>
        			<div class="text-center">
        				<div class="row">
        					<div class="col-6">
        						<a href="#"><img src="images/icon/google.png" alt=""></a>
        					</div>
        					<div class="col-6">
        						<a href="#"><img src="images/icon/facebook.png" alt=""></a>
        					</div>
        				</div>
        			</div>
        			<form action="" method="">
        				<p><input type="text" class="form-control" name="" placeholder="Full Name" /></p>
        				<p><input type="email" class="form-control" name="" placeholder="Email" /></p>
        				<p><input type="password" class="form-control" name="" placeholder="Password" /></p>
        				<p><a href="#" class="btn btn-theme md block radius">Create Account &nbsp;&nbsp;&nbsp; <span class="fa fa-long-arrow-right"></span></a></p>
        			</form>

        			<div class="others-option">
        				<div class="row">
	        				<div class="col-9 col-sm-6">
	        					<p><a href="#">Already have an account ?</a></p>
	        				</div>
	        				<div class="col-3 col-sm-6">
	        					<p class="text-right"><a href="#"><strong>Login</strong></a></p>
	        				</div>
	        			</div><br>

	        			<p class="text-center">By signing up,you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a></p>
        			</div>
      			</div>
    		</div>
  		</div>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/jquery.hashchange.min.js"></script>
	<script src="js/jquery.easytabs.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>