@media (min-width: 1200px) {
	.container {
	    max-width: 1170px;
	}
}

@media (max-width: 800px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.btn {
	    padding: 3px 18px;
	    font-size: 14px;
	}

	.header-search {
		margin-top: 15px;
	}

	.questions .separator {
	    margin-top: 0px;
	}

	.questions {
		padding-top: 0;
	}

	.profile-info,
	.questions.padding,
	.questions.collection {
	    padding-top: 30px;
	}
	
	.title,
	.questions .single-question .title {
		font-size: 20px;
	}

	.btn.lg {
	    font-size: 18px;
	    padding: 6px 12px;
	}

	.question-number,
	.questions .single-question .question-meta {
		text-align: center;
	}

	.questions .single-question ul {
	    width: 100%;
	    margin-right: 0;
	}

	.single-profile .profile-info .option li {
		margin-right: 8px;
	}

	.single-profile .profile-info .option li a {
		font-weight: 500;
		font-size: 14px;
	}

	.services .service-list li {
		width: 100%;
	}

	.menu-container .manu ul li .have_dropdown_n_style {
		margin-bottom: 20px;
	}

	#menuBarDiv_question-one a,
	#menuBarDiv_question-two a,
	#menuBarDiv_question-three a {
		font-size: 13px;
	}

	#menuBarDiv_question-one .btn,
	#menuBarDiv_question-two .btn,
	#menuBarDiv_question-three .btn { 
		padding: 5px;
	}

	.Editor-editor {
		height: 150px;
	}

	.service-category li {
		width: 100%;
	}

	.question-submit .tab-container .etabs .tab {
		width: 100%;
		margin-bottom: 10px;
	}

	.breadcrumb {
		display: none;
	}
}

@media only (max-width: 756px) {
	.menu-container .manu ul li{
		float: none;
		display: block;
	}
	.menu-container .manu ul li .have_dropdown{
		background-color:transparent;
		display: none;
		position: relative;
	}
	.menu-container .manu ul li .have_dropdown li{
		display: block;
		float: none;
		width: 100%;
		background-color: #fff;
	}
	.menu-container .manu ul li .have_dropdown li a{
		display: block;
		float: none;
		width: 100%;
		padding: 15px 0px;
	}
	.menu-container .manu ul li .have_dropdown_n_style li{
		width:100%;
		float: none;
	}
	.menu-container .manu ul li .have_dropdown_n_style li a{
		float: none;
	}
	.menu-container .manu ul li .have_dropdown_n_style{
		position: relative;
	}
}